#sideBar {
  height: 100vh;
  /* border: 2px solid salmon; */
  & .sideBar-link {
    font-size: 17px;
    color: #63676e;
    transition: 0.5s;
    & span {
      margin-left: 15px;
      text-transform: capitalize;
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
      color: #10b981;
    }
  }
  & .sideBar-link-active {
    color: #10b981;
  }
  & .logout {
    margin-left: 20px;
    top: 85%;
    background-color: #10b981;
    color: white;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    & span {
      margin-left: 15px;
      text-transform: capitalize;
    }
    &:hover {
      cursor: pointer;
      background-color: #0c8f63;
    }
  }
}
