<app-subsection [pageTitle]="title" ></app-subsection>

<div class="container my-5 ">
    <div class="row justify-content-center align-items-center ">
      <div class="col-lg-6">
          <h2 class="mb-3 fs-1 text-center fw-bolder">Reset Password</h2>
          <p class="mb-4 text-center text-secondary-emphasis">If you want to reset your password, please enter your new password below.</p>
          <form [formGroup]="resetForm" (ngSubmit)="handle(resetForm)" class=" d-flex flex-column">
              <div>
                <label for="Pasword" class="my-2 fw-semibold">New Password</label>
                <input formControlName="password" type="text" id="Pasword" name="Pasword" placeholder="Enter Your Password" class="form-control rounded-0 mb-3 border-black py-2">
                <div class="alert alert-danger" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
                  <p *ngIf="resetForm.get('password')?.errors?.['required']" >password is required</p>
                  <p *ngIf="resetForm.get('password')?.errors?.['pattern']">Password must be 6 digits only</p>
                </div>
              </div>
              <div>
                <label for="ConFirm" class="my-2 fw-semibold">Confirm Password</label>
                <input type="text" id="ConFirm" name="ConFirm" formControlName="confirm_password" placeholder="Enter Your ConFirmPassword" class="form-control rounded-0 mb-3 border-black py-2">
                <div class="alert alert-danger" *ngIf="resetForm.get('confirm_password')?.invalid && resetForm.get('confirm_password')?.touched">
                  <p *ngIf="resetForm.get('confirm_password')?.errors?.['required']" >confirmPassword is required</p>
    
                </div>
                </div>

              <button class="btn btn-dark text-white form-control rounded-0 my-3 py-3 fw-bold" [disabled]="resetForm.invalid">RESET PASSWORD</button>

                  <p>If you didn’t request a password recovery link, please ignore this.</p>
          </form>
      </div>
    </div>
  </div>

