<!-- 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex flex-column justify-content-between">
      <div class="w-100 text-center desc-text">
        <p>Flash sale is going on upto 75%</p>
        <hr>
    </div>
  <div class="d-flex justify-content-lg-between align-items-center">
   <div class="d-flex justify-content-between align-items-center content-img">
  <div class="visually-hidden image">
    <a class="navbar-brand" ><img [src]="logoPage" alt="Logo"  class="d-inline-block align-text-top  "></a>
  </div>
   <div>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   </div>
   </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
       
        <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
          <li >
            <a class="navbar-brand" ><img [src]="logoPage" alt="Logo"  class="d-inline-block align-text-top  "></a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link active dropdown-toggle" aria-current="page"  role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['/home01']" routerLinkActive="router-link-active" >Home</a>
            <ul class="dropdown-menu p-0">
                <li ><a class="  dropdown-item" [routerLink]="['/home01']"  routerLinkActive=" router-link-active bg-dark text-white rounded-top-2 py-2 " >Home 1</a></li>
                <li><a class=" dropdown-item " [routerLink]="['/home02']" routerLinkActive=" router-link-activebg-dark text-white  py-2">Home 2</a></li>
                <li><a class="dropdown-item" [routerLink]="['/home03']" routerLinkActive=" router-link-active bg-dark text-white rounded-bottom-2 py-2">Home 3</a></li>
              </ul>
          </li>
        
            
          <li class="nav-item dropdown  mx-2">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              pages
            </a>
            <ul class="dropdown-menu p-0">
              <li><a class="dropdown-item"  [routerLink]="['/login']" routerLinkActive=" router-link-active bg-dark text-white rounded-top-2 py-2 " >Login</a></li>
              <li><a class="dropdown-item" [routerLink]="['/register']" routerLinkActive=" router-link-active bg-dark text-white rounded-bottom-2 py-2 "  >Register</a></li>
             
            </ul>
          </li>
         
        </ul>
        <form class="d-flex align-items-center " role="search">
         <div class="d-flex justify-content-between position-relative"> <input class="form-control me-2 rounded-0 " type="search" placeholder="Search" aria-label="Search">
          <button  type="submit" class="btn border-0 position-absolute end-0 top-0"><i class="fa-solid fa-magnifying-glass mx-5"></i></button></div>
<div class="hidden mx-2 d-flex justify-content-between align-items-center">          <i class="fa-solid fa-user border rounded-5 d-flex justify-content-center align-items-center p-2 text-light-emphasis "></i>
  <button type="button" class="btn border-0 position-relative">
    <i class="fa-solid fa-cart-shopping border rounded-5 d-flex justify-content-center align-items-center p-2 text-light-emphasis"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button></div>
        </form>
      </div>
  </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary flex-column ">
    <div class="container">
      <div class="w-100 text-center desc-text">
        <p>Flash sale is going on upto 75%</p>
        <hr>
    </div>
    </div>
    <div class="container ">
     
   


    <a class="navbar-brand  " href="#">
      <img [src]="logoPage" alt="Bootstrap" >
    </a>
    <div class="visually-hidden hidden mx-2 d-flex justify-content-between align-items-center">          <i class="fa-solid fa-user border rounded-5 d-flex justify-content-center align-items-center p-2 text-light-emphasis "></i>
      <button type="button" class="btn border-0 position-relative">
        <i class="fa-solid fa-cart-shopping border rounded-5 d-flex justify-content-center align-items-center p-2 text-light-emphasis"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse  "  id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
      
        <li class="nav-item dropdown mx-2">
          <a class="nav-link active dropdown-toggle" aria-current="page"  role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['/home01']" routerLinkActive="router-link-active" >Home</a>
          <ul class="dropdown-menu p-0">
              <li ><a class="  dropdown-item" [routerLink]="['/home01']"  routerLinkActive=" router-link-active  " >Home 1</a></li>
              <li><a class=" dropdown-item " [routerLink]="['/home02']" routerLinkActive=" ">Home 2</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home03']" routerLinkActive=" ">Home 3</a></li>
            </ul>
        </li>
      
          
        <li class="nav-item dropdown  mx-2">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            pages
          </a>
          <ul class="dropdown-menu p-0">
            <li><a class="dropdown-item"  [routerLink]="['/login']" routerLinkActive=" router-link-active  " >Login</a></li>
            <li><a class="dropdown-item" [routerLink]="['/register']" routerLinkActive="  "  >Register</a></li>
           
          </ul>
        </li>
      </ul>
      <form class="d-flex align-items-center " role="search">
        <div class="d-flex justify-content-between position-relative"> <input class="form-control me-2 rounded-0 " type="search" placeholder="Search" aria-label="Search">
         <button  type="submit" class="btn border-0 position-absolute end-0 top-0"><i class="fa-solid fa-magnifying-glass mx-5"></i></button></div>
<div class="hidden-show mx-2 d-flex justify-content-between align-items-center">          <i class="fa-solid fa-user border rounded-5 d-flex justify-content-center align-items-center p-2 text-light-emphasis "></i>
 <button type="button" class="btn border-0 position-relative">
   <i class="fa-solid fa-cart-shopping border rounded-5 d-flex justify-content-center align-items-center p-2 text-light-emphasis"></i>
   <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
     99+
     <span class="visually-hidden">unread messages</span>
   </span>
 </button></div>
       </form>
    </div>
  </div>
     
 
   
  </nav>