input[type="search"]{
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #898989;
    background-color: transparent;
    color: #494949;
}
.dropdown-item:hover,.dropdown-item:active{
 background-color: #000;
 color: white;
 border: 1px solid transparent;
 border-radius: 4px ;
 -webkit-border-radius: 4px ;
 -moz-border-radius: 4px ;
 -ms-border-radius: 4px ;
 -o-border-radius: 4px ;
}
@media (max-width: 991.98px){
    .hidden{
        visibility: visible;
        display: block;
    }
    .hidden-show{
        visibility: hidden;
    }
    .dropdown-menu.show{
        border: none;
        background-color: transparent;
    }
    .dropdown-item:hover,.dropdown-item:active{
        background-color:transparent;
        border: none;
    }
}

