.button-seller {
 /*margin-top: 50px;
  padding-right: 30px;
  padding-left: 60px;
  padding-block: 10px;
  background-image: url(https://assets.website-files.com/62d243bdaa648f8b5efa8fc1/62d3e9d8b7f9bc09832f22e1_header-cart-icon.svg);
  background-position: 20% 50%;
  background-size: auto;
  background-repeat: no-repeat; */
  border-color: #e3e2e2;
  background-color: #e3e2e2;
  color: #292d32;
}
.btn-overlay {
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  transition: all 0.5s;
}

.seller-hover:hover .btn-overlay {
  top: 80%;
  display: block;
}
.button-seller:hover{
  border: solid 2px gray;
  transition: border 0.1s;
}
.card-title:hover{
  color : #145341 !important
}
