<app-subsection [pageTitle]="title"></app-subsection>
<section class="py-5">
  <div class="container py-5">
    <div class="row g-5 justify-content-between">
    <div class="col-12 col-lg-6 py-2">
      <img [src]="imgAbout1" class="align-middle w-100">
    </div>
    <div class="col-12 col-lg-6 py-2 ps-5">
      <h2 class="mb-4 lh-sm fw-bold ">Welcome to Farnic</h2>
      <h5 class="mb-4 lh-lg fw-medium text-dark">
        Provide best quality  of Furniture and we always focus on quality,
        technology and try to make our customer happy</h5>
        <p class="text-secondary mb-4 lh-lg">
          Furniture best dolor sit amet, consectetur adipiscing elit. Duis lectus mauris, ullamcorper mauris amet, erat amet.
          Ornare vitae cursus phar purus. Ut enim sed id consectetur velit ullamcorper a. Tellus,
          tempus erdiet dui amet bibendum amet, vestibulum. Sed morbi viverra sit  tempor tristique sit. Donec vitae lacu
        </p>
        <p class="text-secondary lh-lg">
          Furniture best dolor sit amet, consectetur adipiscing elit. Duis lectus mauris, ullamcorper mauris amet,
           erat amet. Ornare vitae cursus phar purus. Ut enim sed id consectetur velit ullamcorper
        </p>
    </div>
  </div>
</div>
</section>




<app-logos></app-logos>

