    <div class="card seller-hover overflow-hidden border-0 my-3">
      <div class="position-relative z-1 ">
      <a routerLink="/single-product/{{productInfo.id}}" >
        <img src="{{productInfo.images}}" class="card-img-top w-100 h-100 bg-light" alt="{{productInfo.title}}" />
      </a>
      <div class="btn-overlay position-absolute z-2">
        <button class="btn px-5 button-seller">Add to Cart</button>
      </div>
     </div>
      <div class="card-body position-relative bg-white z-1 px-0">
        <h5><a class="card-title fw-semibold" routerLink="/single-product/{{productInfo.id}}">{{productInfo.title}}</a></h5>
        <p class="card-text fw-semibold fs-5">$&nbsp;{{productInfo.price}}&nbsp;USD <span class="fw-medium fs-6 text-secondary text-decoration-line-through px-2" *ngIf="productInfo.discountPercentage">$&nbsp;{{productInfo.price * productInfo.discountPercentage/100 | number}}</span></p>
      </div>
    </div>

