body{
  font-family: Jost, sans-serif;
  font-size: 16px;
  /*color : #696969;*/
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', sans-serif;
  color: #1e1c1c;
}
h1 , h2 {
  font-size: 46px;
  font-weight: 600;
}
