<section class="col-12">
  <div class="container">
    <h5 class="mt-5 section-header">Customer</h5>
    <table class="table mt-5 col-12">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <!-- <th>ADDRESS</th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of users
              | paginate : { itemsPerPage: 10, currentPage: page };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"> </pagination-controls>
  </div>
</section>
