.section-header {
  color: rgb(50, 65, 81);
}
.custom-card {
  margin-right: 20px;
  color: white;
  width: 18%;
  & .icon {
    font-size: 25px;
  }
  & .title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
}
.custom-card-text {
  font-size: 30px;
  font-weight: bold;
}
.background-one {
  background-color: #0d9488;
}
.background-two {
  background-color: #f6923c;
}
.background-three {
  background-color: #3b82f6;
}
.background-four {
  background-color: rgb(08, 145, 178);
}
.background-five {
  background-color: #059669;
}

table {
  & thead {
    & tr {
      & th {
        color: white;
        background-color: #05ba81;
      }
    }
  }
}
