<section>
  <div class="container">
    <h5 class="mt-5 section-header">Dashboard Overview</h5>
    <div class="row justify-content-center mt-5">
      <ng-container *ngFor="let info of cardData">
        <div [ngClass]="info.className">
          <div class="card-body">
            <i [ngClass]="info.icon"></i>
            <p class="title">{{ info.title }}</p>
            <p class="card-text custom-card-text">${{ info.data }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h5 class="mt-5 section-header">Recent Order</h5>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>ORDER TIME</th>
          <th>Customer Name</th>
          <th>AMOUNT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of recent_orders">
          <td>{{ order.id }}</td>
          <td>{{ order.time }}</td>
          <td>{{ order.customerName }}</td>
          <td>${{ order.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
