<app-subsection [pageTitle]="title" ></app-subsection>

<div class="container my-5 ">
    <div class="row justify-content-center align-items-center ">
      <div class="col-lg-6">
          <h2 class="mb-3 fs-1 text-center fw-bolder">Forgot your password?</h2>
          <p class="mb-4 text-center text-secondary-emphasis">If you forgot your password, please enter your email below and we will send you a recovery link.</p>
          <form [formGroup]="forgetPassword" (ngSubmit)="handle(forgetPassword)" class=" d-flex flex-column">

              <div>
                <label for="email" class="my-2 fw-semibold">Email Address</label>
              <input  formControlName="email"    type="email" id="email" name="email" placeholder="Enter Your Email" class="form-control rounded-0 mb-3 border-black py-2 ">
              <div class="alert alert-danger" *ngIf="forgetPassword.get('email')?.invalid && forgetPassword.get('email')?.touched">
                <p *ngIf="forgetPassword.get('email')?.errors?.['required']" >email is required</p>
                <p *ngIf="forgetPassword.get('email')?.errors?.['email']">Enter a valid email address</p>
              </div>
              </div>
            
           
              <button class="btn btn-dark text-white form-control rounded-0 my-3 py-3 fw-bold" [disabled]="forgetPassword.invalid">RESET PASSWORD</button>

                  <p>Remember your password? <a routerLink="/login" class="text-dark mx-2">Login</a></p>
          </form>
      </div>
    </div>
  </div>

